body {
	margin-top: 60px;
}

#simp-bar {
	z-index: 999;
	position: fixed;
	top:0;
	width: 100%;
	height: 52px;
	background-color: #d3d3d6 !important;
}

#simp-bar img {
    vertical-align: middle;
}

#simp-bar div, #simp-bar ul {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

/********************* Citizenpedia questions box Styles *********************/

/* Main question box class */
.simp-ctz-ui-qb {
	border-left: thick solid #24BCDA !important;
	border-top: : thick solid #24BCDA !important;
	background-color: #D3F2F8 !important;
}
/* Title of a question box */
.simp-ctz-ui-qb p {
font-weight: bold;
	margin-left: 0px !important;
	margin-right: : 0px !important;
	color: #D3F2F8 !important;
	background-color: #24BCDA !important;
}
/* Each question in a question list */
.simp-ctz-ui-qb li {
	padding-left: 10px !important;
}
.simp-ctz-ui-qb a {
	text-decoration: none;
}

/*****************************************************************************/

/************************* CDV styles**********************************/
    .ui-dialog {
        position: fixed !important;
    } 
	
	.no-close .ui-dialog-titlebar-close {
        display: none;
    }
	/* Personalised style for active buttons cdv */
    .simp-bar-btn-active-cdv {
      background-color: #379E4C;
      border: 1px solid #fff;
    }
	
		
	/************************* **********************************/

/************************* WAE styles**********************************/
	/* Personalised style for active buttons cdv */
    .simp-bar-btn-active-wae {
      background-color: #379E4C;
      border: 1px solid #fff;
    }


	/************************* **********************************/


#simp-bar-container-left {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
}

#simp-bar-container-right {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	float: right;
}

#simp-bar li {
    border: 1px solid transparent;
    display: inline-block;
    margin-right: 15px;
}

.simp-bar-btn-inactive {
	background-color: transparent;
	border: 0px solid #fff;
}

.simp-bar-btn-inactive:hover {
		background-color: #24BCDA;
    border: 1px solid #fff;
}

.simp-bar-btn-active {
	background-color: #24BCDA;
	border: 1px solid #fff;
}


/* TAE: Begin */
.simp-bar-btn-inactive-tae {
	background-color: transparent;
	border: 0px solid #fff;
}

.simp-bar-btn-inactive-tae:hover {
		background-color: #DE453E;
    border: 1px solid #fff;
}

.simp-bar-btn-active-tae {
	background-color: #DE453E;
	border: 1px solid #fff;
}
/* TAE: End */

/*////////////////////////////////////////////////////////////////////////////*/
.ui-widget-content .simpatico-label  {
	background-color:#337ab7;
	color:#ffffff;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-right: 0.3em;
	padding-left: 0.3em;
	border-radius: .25em
}

.ui-widget-content p {
	line-height: 1.5em;
}

.main_form {
	margin: 5px 25px 0 25px;
}

.test_content {
	font-size: 1.5em;
	line-height: 1.5em;
	width: 19cm;
}

.block_edited {
	border: 3px rgba(0, 128, 255, 0.45) solid;
	width: 19cm;
	/* margin: 2px; */
  padding: 2px;
}

.simpatico-cpd-questions {
	background-color: #a9a7a7;
	padding: 5px;
	font-style: normal;
	text-align: left;
	font-weight: normal;	
    font-size: 14px;
}
.simpatico-cpd-questions span {
	text-transform: uppercase;
}
.simpatico-cpd-questions li {
	list-style: none;
	padding-bottom: 5px;
}
.simpatico-cpd-questions li a {
	color: #000;
}	

.simpatico-cpd-questions li.new-question {
    padding-top: 5px;
    text-decoration: underline;
}

#div_simpatico_error_msg {
	padding: 4px 16px;
	color: red;
	font-weight: bold;
}

<!-- ////////      STYLES USED BY SIMPATICO TOOLBAR:BEGIN      //////// -->
    <!-- NOTE: CSS styles should be pasted in a CSS file -->
  <style type="text/css">
    /********************* Toolbar and buttons Styles *********************/
    body {
      margin-top: 60px;
    }
    /************************* CDV styles**********************************/
    .ui-dialog {
        position: fixed !important;
    } 
    
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
    /* Personalised style for active buttons cdv */
    .simp-bar-btn-active-cdv {
      background-color: #379E4C;
      border: 1px solid #fff;
    }
    
        
    /************************* **********************************/
    
    #simp-bar {
      display: inline-table;
      z-index: 999;
      position: fixed;
      top:0;
      width: 100%;
      height: 52px;
      background-color: #d3d3d6 !important;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    }

    #simp-bar img {
        vertical-align: middle;
    }

    /* Private buttons container */
    #simp-bar-container-left {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }

    /* Login button container */
    #simp-bar-container-right {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      float: right;
    }
    /* Toolbar divs and containers */
    #simp-bar div, #simp-bar ul {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }

    /* Generic style for all the buttons */
    #simp-bar li {
        border: 1px solid transparent;
        display: inline-block;
        margin-right: 15px;
    }

    /* Personalised style for buttons */

    /* >>> QAE Button */
    .simp-bar-btn-inactive {
      background-color: transparent;
      border: 0px solid #fff;
    }
    .simp-bar-btn-inactive:hover {
        background-color: #24BCDA;
        border: 1px solid #fff;
        animation-name: anim-inactive-hover;
        animation-duration: 1s;
    }
    @keyframes anim-inactive-hover {
      from {background-color: transparent;}
      to {background-color: #24BCDA;}
    }
    .simp-bar-btn-active {
      background-color: #24BCDA;
      border: 1px solid #fff;
    }
    /* <<< QAE Button */

    /* >>> TAE Button */
    .simp-bar-btn-inactive-tae {
      background-color: transparent;
      border: 0px solid #fff;
    }
    .simp-bar-btn-inactive-tae:hover {
        background-color: #DE453E;
        border: 1px solid #fff;
        animation-name: anim-inactive-hover-tae;
        animation-duration: 1s;
    }
    @keyframes anim-inactive-hover-tae {
      from {background-color: transparent;}
      to {background-color: #DE453E;}
    }
    .simp-bar-btn-active-tae {
      background-color: #DE453E;
      border: 1px solid #fff;
    }
    /* <<< TAE Button */

    /*****************************************************************************/


    /***************************** Citizenpedia Styles ***************************/

    /* Main question box class */
    .simp-ctz-ui-qb {
      border-top: : thick solid #24BCDA !important;
      background-color: #E9F8FC !important;
      border-radius: 0px 16px 16px 0px;
      margin-left: -8px;
      font-size: 12px;
      line-height: 18px;
      webkit-box-shadow: inset -2px -2px 60px 0px rgba(36, 188, 218, 0.29);
      -moz-box-shadow: inset -2px -2px 60px 0px rgba(36, 188, 218, 0.29);
      box-shadow: inset -2px -2px 60px 0px rgba(36, 188, 218, 0.29);
    }

    /* Title of a question box */
    .simp-ctz-ui-qb p {
      font-weight: bold;
      padding-left: 10px;
      margin-left: 0px !important;
      margin-right: : 0px !important;
      color: #E9F8FC !important;
      background-color: #24BCDA !important;
      border-radius: 0px 16px 0px 0px;
    }

    /* Each question in a question list */
    .simp-ctz-ui-qb ul {
      padding: 5px 5px !important;
    }
    .simp-ctz-ui-qb li {
      list-style-type: none;
      line-height: 18px;
    }

    /* Answers style*/
    .simp-ctz-ui-qb li a i {
      font-style: italic;
      font-weight: bold;
      padding-left: 5px !important;
      color: #24BCDA  !important;
    }
    /* Number of answers & add question style*/
    .simp-ctz-ui-qb li a b {
      font-style: initial;
      padding: 1px 5px 1px 5px !important;
      border-radius: 6px !important;
      color: #E9F8FC  !important;
      background-color: #24BCDA !important;
    }
    /* Diagram found notification style*/
    .simp-ctz-ui-diagram {
      z-index: 999;
      position: fixed;
      font-style: initial;
      border-radius: 0px 25px 25px 0px;
      padding: 0px 16px 0px 16px !important;
      background-color: #d3d3d6 !important;
      webkit-box-shadow: 0px 0px 5px 0px #000000;
      -moz-box-shadow: 0px 0px 5px 0px #000000;
      box-shadow: 0px 0px 5px 0px #000000;
      margin: 0px 0px 0px 0px !important;
    }
    .simp-ctz-ui-diagram:hover {
      border-left: 12px solid #24BCDA;
      padding: 0px 16px 0px 4px !important;
    }

    /*****************************************************************************/


    /********************* Text Adaptation Engine box Styles *********************/

    /* Main simplified text box class */
    .simp-tae-ui-sb {
      border-top: : thick solid #DE453E !important;
      background-color: #FAE1E0 !important;
      border-radius: 0px 16px 16px 0px;
      margin-left: -8px;
      font-size: 12px;
      line-height: 18px;
      webkit-box-shadow: inset -2px -2px 60px 0px #ee9f9b;
      -moz-box-shadow: inset -2px -2px 60px 0px #ee9f9b;
      box-shadow: inset -2px -2px 60px 0px #ee9f9b;
    }

    /* Title of a simplified text box */
    .simp-tae-ui-sb p {
      font-weight: bold;
      padding-left: 10px;
      margin-left: 0px !important;
      margin-right: : 0px !important;
      color: #FAE1E0 !important;
      background-color: #DE453E !important;
      border-radius: 0px 16px 0px 0px;
    }

    /* Style of a complex word */
    .simp-tae-ui-sb span {
      font-style: italic;
      padding: 1px 5px 1px 5px !important;
      border-radius: 6px !important;
      color: #FAE1E0 !important;
      background-color: #DE453E !important;
    }

    /* The simplified text list */
    .simp-tae-ui-sb ul {
      padding: 5px 5px !important;
    }
    .simp-tae-ui-sb li {
      list-style-type: none;
      padding-left: .5em !important;
    }

    /* The word properties box style */
    .simp-tae-ui-word {
      list-style-type: none;
      padding-left: .5em !important;
      background-color: WHITE;
      margin:.5em;
      padding:.5em;
      border: solid 1px #DE453E;
      border-radius: 1em;
    }

    /* The definition title */
    .simp-tae-ui-word b {
      list-style-type: none;
      font-style: italic;
      padding: 1px 5px 1px 5px !important;
      border-radius: 6px !important;
      color: #FAE1E0 !important;
      background-color: #DE453E !important;
      line-height: 30px;
    }
    /* The synonyms title */
    .simp-tae-ui-word i {
      font-style: oblique;
      padding-right: .5em !important;
      color: #DE453E !important;
    }
    /*****************************************************************************/
    
    /********************* Session Feedback Dialog Styles *********************/
.right {
    float: right;
}
.left {
    float: left;
}

/* Faces */
#face-radio-buttons-session-feedback img {
    width: 80px;
    height: auto;
}
.input_hidden {
    position: absolute;
    left: -9999px;
}
.selected {
    background-color: #ccc;
}
#face-radio-buttons-session-feedback label {
    display: inline-block;
    cursor: pointer;
}
input[type="radio"]:checked+label{ 
    background-color: #efefef;
} 

#face-radio-buttons-session-feedback label:hover {
    background-color: #efefef;
}
#face-radio-buttons-session-feedback label img {
    padding: 3px;

}

/* Slider */
#slider_session_feedback {
    width:80%;
    margin: 10px 9%;
    padding: 0;
}
#slider {
    margin: 10px;
}
.ui-slider-horizontal {
    height: 15px;
}
.ui-slider .ui-slider-handle {
    height: 16px;
    padding-top: 5px;
    width: 25px;
}
.slider-horizontal-text-below-left {
    float: left;
    margin-left: 10%;
}
.slider-horizontal-text-below-right {
    float: right;
    margin-right: 12%;
}

#slider_session_feedback_simplification {
    width:80%;
    margin: 10px 9%;
    padding: 0;
}

/* Comments */
#comentarios-session-feedback-content {
    padding-top: 20px;
}
.session-feedback-comments, 
.session-feedback-simplify-radio,
.session-feedback-citizenpedia-radio {
    margin-left: 6%;
}
.session-feedback-comments-text {
    font-size: 1.5em;
    vertical-align: top;
    width: 90%;
}

#button_cancel_session_feedback_text, #button_send_session_feedback_a {
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 0 !important;
}
    