body {
	margin-left: 0 !important;
}
.simp-ctz-ui-qb {
	border-radius: 0 !important;
	border-left: 0 !important;
}

.simp-ctz-ui-qb p {
	border-radius: 0 !important;
	margin: 0 !important;
}

.simp-paragraph-active {
	position: relative;
	border-left: 0;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.simp-paragraph-active::before {
	content: "";
	position: absolute;
	width: 1cm;
	height: 100%;
	left: 19cm;
	background-image:
		url(https://dev.smartcommunitylab.it/simp-engines/wae/webdemo/img/citizenpedia.png);
	background-repeat: no-repeat;
	background-size: contain;
	border-left: 6px solid #24BCDA;
}

.simp-ctz-ui-qb {
	position: absolute;
	left: 20.5cm;
	top: 0;
	min-width: 8cm;
}

#slider-session-feedback-content {
	width: 80%;
	margin: 10px 9%;
	padding: 0;
}

.toolbar-button-label {
	max-width: 100px;
	text-transform: uppercase;
	vertical-align: middle;
}

#simp-bar-container-left li {
	position: relative;
}    
#simp-bar-sw-tae-popup img {
	padding-right: 100px;
}

#simp-bar-sw-tae-popup .toolbar-button-label {
    position: absolute;
    right: 0;
    padding-top: 11px;
    pointer-events: none;
}

.block_edited {
    border: 3px #24BCDA solid !important;
    width: 19cm;
    /* margin: 2px; */
  padding: 2px;
}

#btn_simpatico_next, #btn_simpatico_prev {
	text-transform: uppercase;
	background-color: #24BCDA;
	color: #fff;
	border: 0;
	margin: 8px 8px 6px 8px;
	padding: 8px 16px;
}
